/*Estilos generales*/
body{
	background: url("../imagenes/fondo.png") repeat;
}

/*Estilos para categorias*/
section#categorias{
	border-bottom: dashed 2px #DADADA;
}
div.contenedor-categoria{
	display: inline;
	margin: 0 8px;
}
.contenedor-categoria img{
	width: 12%;
	height: auto;
}
.contenedor-categoria img.activo{
	background: #6B6161;
	border-radius: 18px;
	box-shadow: 0px 3px 17px;
	cursor: pointer;
}

.btn-save:hover{
	background-color: #502DA3;
}

.btn-save {
	background-color: #5C2DA2;
	background-image: -webkit-linear-gradient(top, #784EE4 0, #5C2DA2 100%);
	background-image: linear-gradient(to bottom, #784EE4 0, #5C2DA2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#784EE4', endColorstr='#5C2DA2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #572B9A;
	color: #FFF;
}

/*Estilos para botones*/
section#inferior{
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0px;
	margin-bottom: .3%;
}
section#inferior button{
	width:32.5%;
}
#inferior #info{
	padding: 0 1%;
}
#info .form-group{
	margin-bottom: 4px;
}
#info #total{
	text-align: right;
	color: rgba(227, 129, 1, 0.86);
	font-weight: bold;
	font-size: 20px;
}

/* ESTILOS PARA PRODUCTOS*/
section#productos{
	text-align: center;
}
section#productos .producto{
	cursor: pointer;
}
#productos .producto{
	border: 2px dashed #CCC;
	margin: 10px;
	/*width: 150px;*/
	width: 12%;
	padding: 12px;
	text-align: center;
	font-family: Helvetica;
	border-radius: 8px;	
	display: inline-block;
	background: rgba(242, 186, 98, 0.17);
}
.producto-nm{
	/*font-size: 38px;*/
	font-size: 215%;
	color: #8C8C8C;
}
.producto-precio{
	color: #1A64A4;
	font-size: 24px;
}
#productos .producto.agregado{
	background: none repeat scroll 0% 0% rgba(143, 243, 0, 0.24);
}
.producto.agregado .producto-precio{
	font-weight: bold;
}